@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Galano Grotesque';
    font-style: light;
    font-weight: 100;
    src: url('/fonts/Galano/GalanoGrotesqueLight.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Galano Grotesque';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Galano/GalanoGrotesqueBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Galano Grotesque';
    font-style: medium;
    font-weight: 400;
    src: url('/fonts/Galano/GalanoGrotesqueMedium.woff2') format('woff2');
  }
}

:root {
  --ebony-clay: #1C242C;
  --sundance: #D0B863;
  --rolling-stone: #7C848A;
  --pale-sky: #70747C;
  --equator: #DBBD56;
  --geebung: #C48C1C;
  --hippie-green: #50884C;

  --animation-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.33,0,0.66,1);
}

/* Blog styling */

.blog-content h2{
  @apply text-ebonyclay my-4 text-2xl bg-sundance p-4 inline-block;
}

.blog-content p{
  @apply font-serif text-palesky;
}

.blog-content h3{
  @apply text-sundance bg-ebonyclay p-4 my-4 text-xl;
}

.blog-content h4{
  @apply text-ebonyclay my-4 text-lg;
}

.blog-content pre{
  @apply bg-equator rounded p-1 my-3 overflow-scroll inline-block;
}

.blog-content ul{
  @apply lg:pl-8 list-disc py-4;
}

.blog-content li {
  @apply ml-4 lg:ml-0 font-serif text-rollingstone font-bold;
}

.blog-content {
  @apply flex flex-col; 
}

.blog-content pre {
  @apply overflow-scroll;
}

.blog-content img{
  @apply my-8;
  width: 100%;
  height: 42vw;
  max-height: 400px;
  object-fit: contain;
}

.blog-content a{
  @apply text-sundance hover:text-ebonyclay;
}

.blog-image {
  width: 100%;
  height: 42vw;
  max-height: 600px;
  object-fit: contain;
}