@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Galano Grotesque';
    font-style: light;
    font-weight: 100;
    src: url('/fonts/Galano/GalanoGrotesqueLight.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Galano Grotesque';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/Galano/GalanoGrotesqueBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Galano Grotesque';
    font-style: medium;
    font-weight: 400;
    src: url('/fonts/Galano/GalanoGrotesqueMedium.woff2') format('woff2');
  }
}

:root {
  --ebony-clay: #1C242C;
  --sundance: #D0B863;
  --pale-sky: #70747C;
  /* --equator: #DBBD56; */
  --equator: #1C242C;
  /* --geebung: #C48C1C; */
  --hippie-green: #50884C;
  --white: #ffffff;

  --animation-duration: 0.2s;
  --animation-timing-function: cubic-bezier(0.33,0,0.66,1);
}

/* Blog styling */

.blog-content h2{
  @apply text-equator my-4 text-2xl bg-hippiegreen p-4 inline-block;
}

.blog-content p{
  @apply font-serif text-sundance my-2;
}

.blog-content h3{
  @apply text-equator bg-sundance p-4 my-2 text-xl;
}

.blog-content h4{
  @apply text-sundance my-2 text-lg;
}

.blog-content h5, h6{
  @apply text-sundance my-2 text-lg;
}
 
.blog-content pre{
  @apply bg-sundance rounded p-1 my-2 overflow-scroll inline-block;
}

.blog-content ul{
  @apply lg:pl-8 list-disc py-4;
}

.blog-content li {
  @apply ml-4 lg:ml-0 font-serif text-sundance font-bold;
}

.blog-content {
  @apply flex flex-col; 
}

.blog-content pre {
  @apply overflow-scroll;
}

.blog-content img{
  @apply my-8;
  width: 100%;
  height: 42vw;
  max-height: 400px;
  object-fit: contain;
}

.blog-content a{
  @apply text-palesky hover:text-hippiegreen;
  text-underline-offset: 4px;
  text-decoration: underline;
}


.blog-image {
  width: 100%;
  max-height: 600px;
  object-fit: contain;
  text-align: center;
}

.details_home[open] > summary > span{
  display: inline-block;
}